@mixin MyFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../../../Font/Gilroy-Bold.otf');

}

@font-face {
    font-family: 'Gilroy-Semibold';
    src: url('../../../Font/Gilroy-Semibold.otf');


}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../../../Font/Gilroy-Medium.ttf');

}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('../../../Font/Gilroy-Light.otf');


}

// @include MyFlex();
#whyChooseUs {
    background-color: #121113;
    color: white;
    .upTextBox {
        padding: 0 100px;

        p {
            font-size: 58px;
            font-family: 'Gilroy-Bold';
            max-width: 400px;

        }
    }

    .downTextBox {
        padding: 50px 100px;
        display: flex;
        flex-wrap: wrap;
        gap: 60px;

        .chooseCardBox {
            height: 400px;
            width: 280px;
            overflow: hidden;

            .imgBox {
                height: 150px;
                @include MyFlex();
                overflow: hidden;

                img {
                    margin-left: -10%;
                    max-width: 750px;
                }

            }

            h1 {
                margin-top: 50px;
                font-size: 27px;
                font-family: 'Gilroy-Semibold';

            }

            p {
                margin-top: 20px;
                font-family: 'Gilroy-Light';
                font-size: 16px;
                color: rgb(205, 202, 202);
                line-height: 1.5;
                width: 90%;
            }
        }

    }
}

@media only screen and (max-width: 503px) {
    #whyChooseUs {

        .upTextBox {
            padding: 0 30px;

            p {
                font-size: 45px;
                max-width: 100%;

            }
        }

        .downTextBox {
            padding: 50px 30px;
            @include MyFlex();
            .chooseCardBox {
                text-align: center;
                height: 350px;

                .imgBox {
                    img {
                        margin-left: 0%;
                    }


                }

                h1 {
                    margin-top: -10px;
                }

                p {
                    max-width: 100%;
                }
            }
        }
    }

}