@mixin MyFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../../../Font/Gilroy-Bold.otf');
}

#ourPartners {
    color: white;
    padding: 50px 0px 70px;

    h1 {
        padding: 0px 100px;
        font-size: 58px;
        font-family: 'Gilroy-Bold';
        margin-bottom: 50px;
    }

    .marquee {
        width: 100%;
        height: 12rem;
        pointer-events: none;
        overflow: hidden;
    }

    .marquee__inner-wrap {
        height: 100%;
        width: 100%;

    }


    .marquee__img {
        width: 300px;
        background-size: cover;
        background-position: center;
        height: 8rem;
        margin: 0 4vw;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: grayscale(0.6);

    }

    .marquee__inner {
        overflow: hidden;
        height: 100%;
        width: fit-content;
        align-items: center;
        display: flex;
        position: relative;
        animation: marquee 10s linear infinite;
        will-change: transform;
    }

    @keyframes marquee {
        to {
            transform: translateX(-50%);
        }
    }


}


@media only screen and (max-width: 625px) {
    #ourPartners {

        h1 {
            font-size: 45px;
            padding: 0px 15px;
        }
        .marquee__img {
            width: 270px;
            height: 7rem;
            margin: 0 3vw;  
    
        }
    }
}