@mixin MyFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

// @include MyFlex();
@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../../Font/Gilroy-Bold.otf');

}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../../Font/Gilroy-Medium.ttf');


}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('../../Font/Gilroy-Light.otf');


}

@font-face {
    font-family: 'Gilroy-Extrabold';
    src: url('../../Font/Gilroy-Extrabold.otf');

}

#serviceDetail {
    color: white;

    #serviceDetailHeader {
        padding: 80px 100px;
        min-height: 100vh;
        @include MyFlex();
        flex-direction: column;
        color: white;
        align-items: start;
        background-position: center;
        background-size: cover;

        .goLink {
            margin-top: 100px;
            @include MyFlex();
            gap: 10px;
            font-size: 20px;
            font-family: 'Gilroy-Medium';

            span {
                font-size: 20px;
                margin-top: 0px;

            }


        }

        p {
            margin-top: 30px;
            font-size: 65px;
            text-align: start;
            font-family: "Gilroy";
            font-weight: bolder;
            max-width: 80%;
            line-height: 1.5;
            font-family: 'Gilroy-Extrabold';

        }

        span {
            margin-top: 20px;
            font-family: 'Gilroy-Medium';
            font-size: 20px;
            text-align: start;
            max-width: 60%;
            line-height: 1.5;
        }

    }

    main {
        padding: 30px 100px;

        .upBox,
        .downBox {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;

            .leftBox {
                width: 50%;
                padding: 10px;

                h1 {
                    font-family: 'Gilroy-Bold';
                    font-size: 75px;
                    margin-top: 50px;
                }

                p {
                    margin-top: 60px;
                    font-family: 'Gilroy-Medium';
                    font-size: 17px;
                    line-height: 1.5;

                }
            }

            .rightBox {
                width: 500px;
                height: 600px;
                overflow: hidden;

                img {
                    max-width: 100%;
                    aspect-ratio: 1/1.5;
                    object-fit: cover;

                }
            }
        }

        .downBox {
            .leftBox {
                display: flex;
                flex-direction: column;
                align-items: end;
            }
        }
    }
}


@media only screen and (max-width: 1037px) {

    #serviceDetail {
        #serviceDetailHeader {
            padding: 50px 30px;

        }

        main {
            padding: 30px 20px;


        }
    }
}

@media only screen and (max-width: 873px) {
    #serviceDetail {
        #serviceDetailHeader {

            p {
                font-size: 50px;
                line-height: 1.3;

            }

            span {
                margin-top: 17px;
                max-width: 90%;

            }


        }

        main {

            .upBox,
            .downBox {
                flex-direction: column !important;

                .leftBox {
                    width: 100%;
                    margin-bottom: 50px;

                    h1 {
                        font-size: 45px;

                    }


                }

                .rightBox {
                    width: 100%;
                    height: 500px;

                }
            }

            .downBox {
                flex-direction: column-reverse;
            }
        }
    }

}

@media only screen and (max-width: 461px) {
    #serviceDetail {
        #serviceDetailHeader {

            p {
                font-size: 30px;
                line-height: 1.3;

            }

            span {
                font-size: 15px;

            }


        }
    }

}