* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin MyFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}
// @include MyFlex();


@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../../Font/Gilroy-Medium.ttf');
}

@font-face {
    font-family: 'Gilroy-Semibold';
    src: url('../../Font/Gilroy-Semibold.otf');
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('../../Font/Gilroy-Light.otf');
}

.navbar {
    transition: top 0.3s, background-color 0.3s;
}

.navbar.hidden {
    top: -100px; // Adjust this value to hide the navbar completely
}

.navbar.visible {
    top: 0;
}

.navbar.scrolled {
    background-color: black;
}

ul {
    display: flex;
    list-style: none;
    gap: 56px;
    font-size: 18px;
    margin-right: 70px;

    .link,
    .active {
        text-decoration: none;
        height: 20px;
        cursor: pointer;
        color: white;

        .line {
            margin-top: 3px;
            width: 0%;
            height: 3px;
            border-radius: 10px;
            transition: 0.4s;
            background-color: white;
        }

        &:hover {
            .line {
                width: 60%;
            }
        }
    }
}

.selectBox {
    border: none;
    font-size: 20px;
    font-family: "Gilroy-Semibold";

    .mainLang {
        gap: 5px;
        @include MyFlex();
        cursor: pointer;
        font-size: 25px;
        position: relative;
        width: 60px;
    }

    .allLangsBox {
        position: absolute;
        top: 70px;
        padding: 0 2px;
        width: 55px;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .langBox {
            cursor: pointer;
        }
    }
}

nav {
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    font-family: "Gilroy-Light";
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 4;

    img {
        max-width: 200px;
    }

    .textAndLangBox {
        display: flex;
        gap: 50px;
        color: white;
        @include MyFlex();
    }

    .menuBox {
        display: none;
    }

    .respNavbar {
        display: none;
    }
}

.opened {
    opacity: 1 !important;
    visibility: visible !important;
}

.active {
    font-weight: bold;

    .line {
        width: 60% !important;
    }
}

.openedNavbar {
    transform: translateX(100%);
}

@media only screen and (max-width: 1037px) {
    nav {
        padding: 10px 20px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.681) 100%);
        img {
            max-width: 170px;
        }

        .textAndLangBox {
            display: none;
        }

        .menuBox {
            display: block;
            font-size: 50px;
            @include MyFlex();
            color: white;
        }

        .respNavbar {
            display: flex;
            background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.844) 100%);
            height: 100vh;
            width: 50%;
            position: absolute;
            top: 100px;
            right: 0;
            z-index: 2;
            transition: all 1s;
            padding: 50px;
            ul {
                list-style: none;
                flex-direction: column;
            }

            .selectBox {
                color: white;
                position: absolute;
                top: 350px;

                .allLangsBox {
                    top: 30px;

                }
            }
        }
    }
}

@media only screen and (max-width: 582px) {
    nav {
        .respNavbar {
            width: 100%;
        }
    }
}