@mixin MyFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

// @include MyFlex();

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../../../Font/Gilroy-Bold.otf');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../../../Font/Gilroy-Medium.ttf');
}

@font-face {
    font-family: 'Gilroy-Semibold';
    src: url('../../../Font/Gilroy-Semibold.otf');
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('../../../Font/Gilroy-Light.otf');
}

@font-face {
    font-family: 'Gilroy-UltraLight';
    src: url('../../../Font/Gilroy-UltraLight.otf');
}

#serviceAllPackets {
    @include MyFlex();
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 27.5px;
    padding: 50px 100px 100px;
    background: #141414;

    .cardHover {
        -webkit-box-shadow: 0px 3px 3px 0px #02CEC8;
        -moz-box-shadow: 0px 3px 3px 0px #02CEC8;
        box-shadow: 0px 3px 3px 0px #02CEC8;
        color: white;
        border: 2px solid #02CEC8;
        gap: 17px;
        background-color: rgba(0, 0, 0, 0.345);
        cursor: pointer;
        position: relative;
        padding: 30px 40px 0;
        height: 250px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        transition: all 0.7s;

        .arrowBox {
            position: absolute;
            top: 20px;
            font-size: 50px;
            right: 20px;
            transition: all 0.7s;
            color: #22FFF8;
        }

        h1 {
            font-family: 'Gilroy-Light';
            font-size: 23px;
            width: 70%;
        }

        p {
            font-family: 'Gilroy-UltraLight';
            font-size: 14px;
            line-height: 1.4;
            color: rgb(206, 204, 204);

        }

        &:hover {
            -webkit-box-shadow: 0px 5px 14px 0px rgba(2, 206, 200, 1) !important;
            -moz-box-shadow: 0px 5px 14px 0px rgba(2, 206, 200, 1) !important;
            box-shadow: 0px 5px 14px 0px rgba(2, 206, 200, 1) !important;
            background: rgba(0, 0, 0, 0.575);

            .arrowBox {
                right: 10px;

            }
        }
    }

    .upBox {
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-decoration: none;

        #cardBig {
            width: 58%;
        }

        #cardSmall {
            width: 39%;
        }

        #cardBig2 {
            width: 42%;
        }

        #cardSmall2 {
            width: 55%;
        }
    }
}

@media only screen and (max-width: 1400px) {
    #serviceAllPackets {
        .cardHover {
            p {
                font-family: 'Gilroy-UltraLight';
                font-size: 14px;
                line-height: 1.4;
                color: rgb(206, 204, 204);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;


            }


        }

    }
}



@media only screen and (max-width: 854px) {
    #serviceAllPackets {
        flex-direction: column;
        padding: 50px 30px;
        align-items: start;
        position: relative;

        .cardHover {
            width: 100% !important;
        }


        .upBox {
            flex-direction: column;

            #cardSmall {
                margin-top: 27.5px;
            }

            #cardSmall2 {
                margin-top: 27.5px;

            }
        }

    }
}

@media only screen and (max-width: 624px) {
    #serviceAllPackets {
        padding: 20px 35px;
        overflow: hidden;


        .cardHover {
            padding: 30px 20px 0;

            p {
                max-width: 90%;

            }
        }
    }
}